# last modified 2024-02-05

S3method(plot,lca)
import(Rcmdr)
importFrom(data.table, fread)
importFrom(demography, extract.ages, extract.years)
importFrom(dplyr, "%>%", filter, group_by, last, location, mutate, select, summarise)
importFrom(forecast, forecast)
importFrom(ftsa, plot.ftsm)
importFrom(grDevices, dev.new)
importFrom(ggplot2, aes, geom_bar, geom_hline, geom_line, geom_point, geom_ribbon, geom_text)
importFrom(ggplot2, ggplot, ggtitle, guide_legend, guides, labs, position_dodge)
importFrom(ggplot2, scale_color_manual, scale_x_date, scale_y_continuous, ylab, ylim)
importFrom(graphics, abline, legend, lines, plot, points, polygon)
importFrom(scales, date_breaks, date_format)
importFrom(stats, arima, density, nlm, predict, qnorm, quantile, rgamma, rnorm, rpois, time, ts, uniroot, window)
importFrom(tcltk, tkbutton)
importFrom(utils, data)
importFrom(zoo, rollapply, zoo)
exportPattern("^[^\\.]")
