# last modified 2021-03-29

S3method(plot,lca)
import(stats,except=c(filter,lag))
import(Rcmdr,demography,forecast, ggplot2,dplyr,scales,zoo)
import(data.table,except=c(last,between,first))
importFrom(tcltk, tkbutton)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "plot", "points","polygon")
importFrom(ftsa,plot.ftsm)
importFrom("utils", "data")
exportPattern("^[^\\.]")
