# last modified 2018-10-03

S3method(plot,lca)
S3method(print,lca)
import(stats, Rcmdr,rgl,demography)
importFrom(tcltk, tkbutton)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "plot", "points","polygon")
importFrom(ftsa,plot.ftsm)
exportPattern("^[^\\.]")
